* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 70px;
    background: rgba(0, 0, 0, 0.7);
    border-bottom: 0;
    font-size: 15px;
    color: white;

}

.logo span {

    display: flex;
    align-items: center;
    font-size: 48px;
    color: #00D8FF;
    font-weight: 600;
}

.logo {
    display: flex;
    justify-content: space-between;
    padding: 22px 20px;
    height: 80px;
    font-size: 24px;

}

nav ul {

    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 16px 30px 0px;
    border: none;
    font-weight: 600;
}

a {
    position: relative;
    color: #fff;
    text-decoration: none;
    padding: 4px 10px;
    cursor: pointer;
}

/*** inicio anição liks ***/

a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #00D8FF;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;

}

a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

a:hover {
    color: #00d8ff;
}

button {
    background: linear-gradient(to bottom, #00c5e6 0%, #00b2d7 100%);
    border: 1px solid #00D8FF;
    width: 120px;
    height: 40px;
    font-weight: 500;
    white-space: nowrap;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    margin-left: 25px;
    transition: background-color 0.2s ease, transform 0.3s ease;

}

button:hover {
    background-color: hwb(195 3% 21% / 0.685);
    transform: translateY(-5px);
    cursor: pointer;
    color: #012a31;

}

.panel {
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 1080px;
    background-image: url(../image/01.jpg) center center;
    background-image: linear-gradient(to bottom, rgba(15, 15, 15, 0.5), rgba(9, 78, 97, 0.7)), url(../image/01.jpg);
    background-position: center;
    background-size: cover;
}

h1 {
    font-size: 84px;
    text-transform: inherit;
    max-width: 800px;
    font-weight: 600;
    line-height: 1.22;
    color: #00b2d7;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
   
}

h1:hover {
  
    color: #00d8ff;
}

h4 {
     font-size: 40px;
     color:white;
     
}


#btn2 {
    width: 200px;
    font-weight: 400;
    margin-top: 70px;
    font-size: 1rem;
}